# Coswara Deep Learning Model

In [1]:
import pandas as pd
import numpy as np

In [2]:
url = "Coswara.csv"

In [3]:
df= pd.read_csv(url)

In [4]:
df.head()

,id,a,covid_status,ep,g,l_c,l_l,l_s,rU,smoker,...,diarrhoea,pneumonia,ctScan,testType,test_date,vacc,ctDate,ctScore,others_resp,others_preexist
0,iV3Db6t1T8b7c5HQY2TwxIhjbzD3,28,healthy,y,male,India,Anantapur,Andhra Pradesh,n,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AxuYWBN0jFVLINCBqIW5aZmGCdu1,25,healthy,y,male,India,BENGALURU URBAN,Karnataka,n,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,C5eIsssb9GSkaAgIfsHMHeR6fSh1,28,healthy,y,female,United States,Pittsburgh,Pennsylvania,n,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,YjbEAECMBIaZKyfqOvWy5DDImUb2,26,healthy,y,male,India,Bangalore,Karnataka,n,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,aGOvk4ji0cVqIzCs1jHnzlw2UEy2,32,healthy,y,male,India,Nalanda,Bihar,n,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1895 entries, 0 to 1894
Data columns (total 35 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               1895 non-null   object
 1   a                1895 non-null   int64
 2   covid_status     1895 non-null   object
 3   ep               1895 non-null   object
 4   g                1895 non-null   object
 5   l_c              1895 non-null   object
 6   l_l              1666 non-null   object
 7   l_s              1895 non-null   object
 8   rU               1215 non-null   object
 9   smoker           235 non-null    object
 10  cold             142 non-null    object
 11  ht               125 non-null    object
 12  diabetes         111 non-null    object
 13  fever            127 non-null    object
 14  asthma           73 non-null     object
 15  um               857 non-null    object
 16  cough            216 non-null    object
 17  ihd              11 non-null     object
 18  bd               70 non-null     object
 19  st               85 non-null     object
 20  ftg              92 non-null     object
 21  mp               80 non-null     object
 22  loss_of_smell    58 non-null     object
 23  cld              8 non-null      object
 24  test_status      482 non-null    object
 25  diarrhoea        9 non-null      object
 26  pneumonia        10 non-null     object
 27  ctScan           112 non-null    object
 28  testType         87 non-null     object
 29  test_date        87 non-null     object
 30  vacc             112 non-null    object
 31  ctDate           11 non-null     object
 32  ctScore          11 non-null     float64
 33  others_resp      1 non-null      object
 34  others_preexist  8 non-null      object
dtypes: float64(1), int64(1), object(33)
memory usage: 518.3+ KB

In [6]:
# check for missing values

In [7]:
df.isnull().sum()

id                    0
a                     0
covid_status          0
ep                    0
g                     0
l_c                   0
l_l                 229
l_s                   0
rU                  680
smoker             1660
cold               1753
ht                 1770
diabetes           1784
fever              1768
asthma             1822
um                 1038
cough              1679
ihd                1884
bd                 1825
st                 1810
ftg                1803
mp                 1815
loss_of_smell      1837
cld                1887
test_status        1413
diarrhoea          1886
pneumonia          1885
ctScan             1783
testType           1808
test_date          1808
vacc               1783
ctDate             1884
ctScore            1884
others_resp        1894
others_preexist    1887
dtype: int64

In [8]:
# Replacing nan values with 0 in whole dataset

In [9]:
df= df.replace(np.nan,0)

In [10]:
df

,id,a,covid_status,ep,g,l_c,l_l,l_s,rU,smoker,...,diarrhoea,pneumonia,ctScan,testType,test_date,vacc,ctDate,ctScore,others_resp,others_preexist
0,iV3Db6t1T8b7c5HQY2TwxIhjbzD3,28,healthy,y,male,India,Anantapur,Andhra Pradesh,n,0,...,0,0,0,0,0,0,0,0.0,0,0
1,AxuYWBN0jFVLINCBqIW5aZmGCdu1,25,healthy,y,male,India,BENGALURU URBAN,Karnataka,n,True,...,0,0,0,0,0,0,0,0.0,0,0
2,C5eIsssb9GSkaAgIfsHMHeR6fSh1,28,healthy,y,female,United States,Pittsburgh,Pennsylvania,n,0,...,0,0,0,0,0,0,0,0.0,0,0
3,YjbEAECMBIaZKyfqOvWy5DDImUb2,26,healthy,y,male,India,Bangalore,Karnataka,n,0,...,0,0,0,0,0,0,0,0.0,0,0
4,aGOvk4ji0cVqIzCs1jHnzlw2UEy2,32,healthy,y,male,India,Nalanda,Bihar,n,0,...,0,0,0,0,0,0,0,0.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1890,aH6o5lYN6vh40RCFhfyBYjkQVH13,33,healthy,y,male,India,24pgs,West Bengal,n,True,...,0,0,0,0,0,0,0,0.0,0,0
1891,hRMSJF9xD6h9CmQJzB3phXKNnTI2,42,recovered_full,y,male,India,Bangalore,Karnataka,n,0,...,0,0,0,0,0,0,0,0.0,0,0
1892,ZNTuppbDaCNybeDYGmyjJeYr93s1,27,healthy,y,female,India,0,Karnataka,n,0,...,0,0,0,0,0,0,0,0.0,0,0
1893,J7R2UkId7jU0aOSw5amaS8zJVIm1,37,healthy,y,male,India,0,Karnataka,n,0,...,0,0,0,0,0,0,0,0.0,0,0
1894,8MdsvTBMWAUInavE1pdmFQAZPF13,38,recovered_full,y,female,India,Bengaluru,Karnataka,n,0,...,0,0,0,0,0,0,0,0.0,0,0

In [11]:
#again checking for nan values

In [12]:
df.isnull().sum()

id                 0
a                  0
covid_status       0
ep                 0
g                  0
l_c                0
l_l                0
l_s                0
rU                 0
smoker             0
cold               0
ht                 0
diabetes           0
fever              0
asthma             0
um                 0
cough              0
ihd                0
bd                 0
st                 0
ftg                0
mp                 0
loss_of_smell      0
cld                0
test_status        0
diarrhoea          0
pneumonia          0
ctScan             0
testType           0
test_date          0
vacc               0
ctDate             0
ctScore            0
others_resp        0
others_preexist    0
dtype: int64

In [13]:
# Renaming some columns

In [14]:
df.rename(columns={'a':'age','g':'gender','l_c':'country','l_l':'Locality','l_s':'state','rU':'returning user','ht':'hypertension','um':'using mask','ihd':'heart disease','bd':'breathing difficulty','st':'sore throat','ftg':'fatigue','mp':'muscle pain','cld':'chronic lungs desease'},inplace=True)

In [15]:
df.head()

,id,age,covid_status,ep,gender,country,Locality,state,returning user,smoker,...,diarrhoea,pneumonia,ctScan,testType,test_date,vacc,ctDate,ctScore,others_resp,others_preexist
0,iV3Db6t1T8b7c5HQY2TwxIhjbzD3,28,healthy,y,male,India,Anantapur,Andhra Pradesh,n,0,...,0,0,0,0,0,0,0,0.0,0,0
1,AxuYWBN0jFVLINCBqIW5aZmGCdu1,25,healthy,y,male,India,BENGALURU URBAN,Karnataka,n,True,...,0,0,0,0,0,0,0,0.0,0,0
2,C5eIsssb9GSkaAgIfsHMHeR6fSh1,28,healthy,y,female,United States,Pittsburgh,Pennsylvania,n,0,...,0,0,0,0,0,0,0,0.0,0,0
3,YjbEAECMBIaZKyfqOvWy5DDImUb2,26,healthy,y,male,India,Bangalore,Karnataka,n,0,...,0,0,0,0,0,0,0,0.0,0,0
4,aGOvk4ji0cVqIzCs1jHnzlw2UEy2,32,healthy,y,male,India,Nalanda,Bihar,n,0,...,0,0,0,0,0,0,0,0.0,0,0

## Categorical to numerical transformation

In [16]:
df['ep'].value_counts()

y    1778
n     117
Name: ep, dtype: int64

In [17]:
df['ep'].replace({"y":"1","n":"0"},inplace = True)
df['ep']= df['ep'].astype('int64')

In [18]:
df['gender'].value_counts()

male      1387
female     507
other        1
Name: gender, dtype: int64

In [19]:
df['gender'].replace({"male":"0","female":"1","other":"2"},inplace = True)
df['gender']= df['gender'].astype('int64')

In [20]:
df['diabetes'].value_counts()

0       1784
True     111
Name: diabetes, dtype: int64

In [21]:
df['diabetes'].replace({"True":"1"},inplace = True)
df['diabetes']= df['diabetes'].astype('int64')

In [22]:
df['asthma'].value_counts()

0       1822
True      73
Name: asthma, dtype: int64

In [23]:
df['asthma'].replace({"True":"1"},inplace = True)
df['asthma']= df['asthma'].astype('int64')

In [24]:
df['smoker'].value_counts()

0        1660
True      123
n         105
y           6
False       1
Name: smoker, dtype: int64

In [25]:
df['smoker'].replace({"True":"1","n":"2","y":"3","False":"4"},inplace = True)
df['smoker']= df['smoker'].astype('int64')

In [26]:
df['hypertension'].value_counts()

0       1770
True     125
Name: hypertension, dtype: int64

In [27]:
df['hypertension'].replace({"True":"1"},inplace = True)
df['hypertension']= df['hypertension'].astype('int64')

In [28]:
df['fever'].value_counts()

0       1768
True     127
Name: fever, dtype: int64

In [29]:
df['fever'].replace({"True":"1"},inplace = True)
df['fever']= df['fever'].astype('int64')

In [30]:
df['returning user'].value_counts()

n    1161
0     680
y      54
Name: returning user, dtype: int64

In [31]:
df['returning user'].replace({"n":"1","y":"2"},inplace = True)
df['returning user']= df['returning user'].astype('int64')

In [32]:
df['using mask'].value_counts()

0    1038
n     682
y     175
Name: using mask, dtype: int64

In [33]:
df['using mask'].replace({"n":"1","y":"2"},inplace = True)
df['using mask']= df['using mask'].astype('int64')

In [34]:
df['cold'].value_counts()

0       1753
True     142
Name: cold, dtype: int64

In [35]:
df['cold'].replace({"True":"1"},inplace = True)
df['cold']= df['cold'].astype('int64')

In [36]:
df['cough'].value_counts()

0       1679
True     216
Name: cough, dtype: int64

In [37]:
df['cough'].replace({"True":"1"},inplace = True)
df['cough']= df['cough'].astype('int64')

In [38]:
df['muscle pain'].value_counts()

0       1815
True      80
Name: muscle pain, dtype: int64

In [39]:
df['muscle pain'].replace({"True":"1"},inplace = True)
df['muscle pain']= df['muscle pain'].astype('int64')

In [40]:
df['fatigue'].value_counts()

0       1803
True      92
Name: fatigue, dtype: int64

In [41]:
df['fatigue'].replace({"True":"1"},inplace = True)
df['fatigue']= df['fatigue'].astype('int64')

In [42]:
df['sore throat'].value_counts()

0       1810
True      85
Name: sore throat, dtype: int64

In [43]:
df['sore throat'].replace({"True":"1"},inplace = True)
df['sore throat']= df['sore throat'].astype('int64')

In [44]:
df['loss_of_smell'].value_counts()

0       1837
True      58
Name: loss_of_smell, dtype: int64

In [45]:
df['loss_of_smell'].replace({"True":"1"},inplace = True)
df['loss_of_smell']= df['loss_of_smell'].astype('int64')

In [46]:
df['chronic lungs desease'].value_counts()

0       1887
True       8
Name: chronic lungs desease, dtype: int64

In [47]:
df['chronic lungs desease'].replace({"True":"1"},inplace = True)
df['chronic lungs desease']= df['chronic lungs desease'].astype('int64')

In [48]:
df['heart disease'].value_counts()

0       1884
True      11
Name: heart disease, dtype: int64

In [49]:
df['heart disease'].replace({"True":"1"},inplace = True)
df['heart disease']= df['heart disease'].astype('int64')

In [50]:
df['pneumonia'].value_counts()

0       1885
True      10
Name: pneumonia, dtype: int64

In [51]:
df['pneumonia'].replace({"True":"1"},inplace = True)
df['pneumonia']= df['pneumonia'].astype('int64')

In [52]:
df['test_status'].value_counts()

0     1413
na     181
p      176
n      125
Name: test_status, dtype: int64

In [53]:
df['test_status'].replace({"p":"1","n":"0","na":"0"},inplace = True)
df['test_status']= df['test_status'].astype('int64')

In [54]:
df['breathing difficulty'].value_counts()

0       1825
True      70
Name: breathing difficulty, dtype: int64

In [55]:
df['breathing difficulty'].replace({"True":"1"},inplace = True)
df['breathing difficulty']= df['breathing difficulty'].astype('int64')

In [56]:
df['covid_status'].value_counts()

healthy                        1337
positive_mild                   178
no_resp_illness_exposed         154
resp_illness_not_identified      90
recovered_full                   64
positive_moderate                40
positive_asymp                   32
Name: covid_status, dtype: int64

In [57]:
# remove unnecessary columns

In [58]:
df.drop(['Locality','country','id','state','test_date','ctDate','others_resp','others_preexist','testType','vacc'],axis=1,inplace=True)

In [59]:
df.head()

,age,covid_status,ep,gender,returning user,smoker,cold,hypertension,diabetes,fever,...,sore throat,fatigue,muscle pain,loss_of_smell,chronic lungs desease,test_status,diarrhoea,pneumonia,ctScan,ctScore
0,28,healthy,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
1,25,healthy,1,0,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
2,28,healthy,1,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
3,26,healthy,1,0,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
4,32,healthy,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0

In [60]:
#target value=test_status

In [61]:
#converting covid status to numerical form
# Using Sklearn One hot Encoder

In [62]:
from sklearn.preprocessing import OneHotEncoder
onehotencoder = OneHotEncoder()
X = onehotencoder.fit_transform(df[["covid_status"]])
dfone = pd.DataFrame(X.toarray(),columns = onehotencoder.categories_)
df = pd.concat([df,dfone], axis = 1)
df = df.drop(['covid_status'],axis = 1)

In [63]:
# converting age to numerical form

In [64]:
#data binning on age

In [65]:
bins= [0,20,50,100]

In [66]:
category = ['low','medium','high']

In [67]:
df['age']=pd.cut(df['age'],bins,labels= category)

In [68]:
df.age

0       medium
1       medium
2       medium
3       medium
4       medium
         ...
1890    medium
1891    medium
1892    medium
1893    medium
1894    medium
Name: age, Length: 1895, dtype: category
Categories (3, object): ['low' < 'medium' < 'high']

In [69]:
df['age'].value_counts()

medium    1502
high       244
low        149
Name: age, dtype: int64

In [70]:
df['age'].replace({"low":"0","medium":"1","high":"2"},inplace = True)
df['age']= df['age'].astype('int64')

In [71]:
df['ctScan'].value_counts()

0    1783
n     101
y      11
Name: ctScan, dtype: int64

In [72]:
df['ctScan'].replace({"n":"0","y":"1"},inplace = True)
df['ctScan']= df['ctScan'].astype('int64')

In [73]:
df['diarrhoea'].value_counts()

0       1886
True       9
Name: diarrhoea, dtype: int64

In [74]:
df['diarrhoea'].replace({"True":"1"},inplace = True)
df['diarrhoea']= df['diarrhoea'].astype('int64')

In [75]:
df.head()

,age,ep,gender,returning user,smoker,cold,hypertension,diabetes,fever,asthma,...,pneumonia,ctScan,ctScore,"(healthy,)","(no_resp_illness_exposed,)","(positive_asymp,)","(positive_mild,)","(positive_moderate,)","(recovered_full,)","(resp_illness_not_identified,)"
0,1,1,0,1,0,0,0,0,0,0,...,0,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,1,0,1,1,0,0,0,0,0,...,0,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1,1,1,1,0,0,0,0,0,0,...,0,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1,1,0,1,0,1,0,0,0,0,...,0,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1,1,0,1,0,0,0,0,0,0,...,0,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [76]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1895 entries, 0 to 1894
Data columns (total 31 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   age                             1895 non-null   int64
 1   ep                              1895 non-null   int64
 2   gender                          1895 non-null   int64
 3   returning user                  1895 non-null   int64
 4   smoker                          1895 non-null   int64
 5   cold                            1895 non-null   int64
 6   hypertension                    1895 non-null   int64
 7   diabetes                        1895 non-null   int64
 8   fever                           1895 non-null   int64
 9   asthma                          1895 non-null   int64
 10  using mask                      1895 non-null   int64
 11  cough                           1895 non-null   int64
 12  heart disease                   1895 non-null   int64
 13  breathing difficulty            1895 non-null   int64
 14  sore throat                     1895 non-null   int64
 15  fatigue                         1895 non-null   int64
 16  muscle pain                     1895 non-null   int64
 17  loss_of_smell                   1895 non-null   int64
 18  chronic lungs desease           1895 non-null   int64
 19  test_status                     1895 non-null   int64
 20  diarrhoea                       1895 non-null   int64
 21  pneumonia                       1895 non-null   int64
 22  ctScan                          1895 non-null   int64
 23  ctScore                         1895 non-null   float64
 24  (healthy,)                      1895 non-null   float64
 25  (no_resp_illness_exposed,)      1895 non-null   float64
 26  (positive_asymp,)               1895 non-null   float64
 27  (positive_mild,)                1895 non-null   float64
 28  (positive_moderate,)            1895 non-null   float64
 29  (recovered_full,)               1895 non-null   float64
 30  (resp_illness_not_identified,)  1895 non-null   float64
dtypes: float64(8), int64(23)
memory usage: 459.1 KB

In [77]:
# Plotting Histograms

In [78]:
#%matplotlib inline
#import matplotlib.pyplot as plt
#df.hist(bins=50,figsize=(40,25))

# Train-Test Splitting

In [79]:
from sklearn.model_selection import train_test_split
train_set,test_set = train_test_split(df,test_size = 0.2 , random_state = 42)
print(f"Rows in train set:{len(train_set)}\n Rows in test set:{len(test_set)}\n")

Rows in train set:1516
 Rows in test set:379

In [80]:
#Check for equal distribution of target value

In [81]:
test_set['test_status'].value_counts()

0    341
1     38
Name: test_status, dtype: int64

In [82]:
train_set['test_status'].value_counts()

0    1378
1     138
Name: test_status, dtype: int64

In [83]:
df=train_set.copy()

In [84]:
df=train_set.drop("test_status",axis=1)
df_labels=train_set["test_status"].copy()

## Building Artificial Neural Network

In [85]:
import keras
from keras.models import Sequential
from keras.layers import Dense

In [86]:
#initialize the classifier
classifier = Sequential()

In [87]:
#start adding layers to your network

In [88]:
classifier.add(Dense(9, kernel_initializer = "uniform",activation = "relu" , input_dim=30))
#30 is total features including target as well.

In [89]:
#add output layer to compute predictions

In [90]:
classifier.add(Dense(1,kernel_initializer="uniform",activation="sigmoid"))

In [91]:
# Applying gradient descent using compile function

In [92]:
classifier.compile(optimizer="adam",loss="binary_crossentropy",metrics=["accuracy"])

In [93]:
#fit your classifier to dataset

In [94]:
#using fit method of keras

In [95]:
classifier.fit(df,df_labels,batch_size=10,epochs=1)

152/152 [==============================] - 0s 803us/step - loss: 0.5588 - accuracy: 0.9057

In [96]:
# making predictions uding Test data

In [97]:
X_test=test_set.drop("test_status",axis=1)
Y_test=test_set["test_status"].copy()

In [98]:
y_pred=classifier.predict(X_test)

In [99]:
y_pred=(y_pred>0.5)

In [100]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(Y_test,y_pred)
cm

array([[341,   0],
       [ 38,   0]], dtype=int64)

In [101]:
# my deep learning model has made 341+0=341 correct predictions and 38+0=38 wrong predictions

In [102]:
from sklearn.metrics import accuracy_score
testing_data_accuracy = accuracy_score(y_pred,Y_test)

In [103]:
print('Accuracy on testing data:',testing_data_accuracy)

Accuracy on testing data: 0.899736147757256

In [104]:
# Making single predictions using model we have developed

In [105]:
X_test.head()

,age,ep,gender,returning user,smoker,cold,hypertension,diabetes,fever,asthma,...,pneumonia,ctScan,ctScore,"(healthy,)","(no_resp_illness_exposed,)","(positive_asymp,)","(positive_mild,)","(positive_moderate,)","(recovered_full,)","(resp_illness_not_identified,)"
1319,1,1,0,0,0,0,0,0,0,0,...,0,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
611,1,1,0,1,0,0,0,0,0,0,...,0,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
964,1,1,1,1,0,0,0,0,0,0,...,0,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1316,1,1,0,0,0,0,0,0,0,0,...,0,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
585,1,1,0,1,0,0,0,0,0,0,...,0,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [106]:
display(X_test.loc[585])

age                               1.0
ep                                1.0
gender                            0.0
returning user                    1.0
smoker                            0.0
cold                              0.0
hypertension                      0.0
diabetes                          0.0
fever                             0.0
asthma                            0.0
using mask                        0.0
cough                             1.0
heart disease                     0.0
breathing difficulty              0.0
sore throat                       0.0
fatigue                           0.0
muscle pain                       0.0
loss_of_smell                     0.0
chronic lungs desease             0.0
diarrhoea                         0.0
pneumonia                         0.0
ctScan                            0.0
ctScore                           0.0
(healthy,)                        1.0
(no_resp_illness_exposed,)        0.0
(positive_asymp,)                 0.0
(positive_mild,)                  0.0
(positive_moderate,)              0.0
(recovered_full,)                 0.0
(resp_illness_not_identified,)    0.0
Name: 585, dtype: float64

In [107]:
new_pred = classifier.predict(np.array([[ 1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,
                                                       0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0]]))

In [108]:
new_pred = (new_pred>0.5)
new_pred

array([[False]])